* {
  margin: 0;
  padding: 0;
}
/*General style */

body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.section-title {
  color: rgb(13, 52, 160);
  text-align: center;
  margin: 10px;
}
.section-container {
  background-color: orange;
  box-shadow: 1px 2px 7px 1px #0000004d;
  padding: 20px;
  margin: 25px;
}

/*Header*/

header {
  position: sticky;
  margin: 0px;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(16, 49, 122);
 
}

.navmenu {
  list-style: none;
  display: flex;
}
.navmenu > li {
  padding: 10px;
  float: right;
}

.navmenu > li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
}
.navmenu > li > a:hover {
  border-bottom: 1px solid black;
}
@media (max-width: 700px) {
  .navmenu {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    background-color: rgb(41, 163, 41);
  }
  
  
  .navmenu h1 {
    width: 100%;
    margin: 20px;
    text-align: center;
  }
}
/*Box Model*/
section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div {
  width: 700px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 100px;


}

/*footer*/
footer {
  padding: 2rem;
  background-color: black;
  color: white;
  text-align: center;
}
